<%- include("partials/header.ejs") %>

<!----the header url is always relative to the views folder -->
<!--  the header.ejs contains links that are relative to the public folder -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <h1>Home Tasks</h1>
  <form class="item" action="/submit" method="POST">
    <input type="text" name="Task" placeholder="Enter Task">
    <input type="date" id="DueDate" name="DueDate" placeholder="Select Date">
    <input type="time" id="DueTime" name="DueTime" placeholder="Select Time">
    <input type="submit" value="Add Task">
  </form>
  <table>
    <tr>
      <th>Status</th>
      <th>Task</th>
      <th>Due Date</th>
    </tr>

      <% function formatDateTimeToString(date) { %>
      <% var dd = (date.getDate() < 10 ? '0' : '') + date.getDate(); %>
      <% var MM = ((date.getMonth() + 1) < 10 ? '0' : '') + (date.getMonth() + 1); %>
      <% var yyyy = date.getFullYear(); %>
      <% var hours = (date.getHours() < 10 ? '0' : '') + date.getHours(); %>
      <% var minutes = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes() %>
      <% return (yyyy + "." + MM + "." + dd + ' ' + hours + ':' + minutes); %>
      
      <% } %>

      <% console.log("The Client received: "+JSON.stringify(locals.Tasks)); %>
      <%  if(locals.Tasks){%>        
        <% locals.Tasks.forEach(task =>{ %>
        <tr>        
            <form action="/delete" method="post">
              <td><input type="checkbox" name="checkbox" value="<%=task._id%>" onChange="this.form.submit()"></td>         
              <td><%= task.task %></td>
              <td><%= formatDateTimeToString(task.date) %></td>
            </form>           
        </tr>
        <%});}%>
    </tr>
  </table>


    

  <%- include("partials/footer.ejs") %>