<%- include("partials/header.ejs") %>

<!----the header url is always relative to the views folder -->
<!--  the header.ejs contains links that are relative to the public folder -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <h1>Home Tasks</h1>
  <form action="/submit" method="POST">
    <input type="text" name="Task" placeholder="Enter Task">
    <input type="date" id="DueDate" name="DueDate" placeholder="Select Date">
    <input type="submit" value="Add Task">
  </form>
  <table>
    <tr>
      <th>Status</th>
      <th>Task</th>
      <th>Due Date</th>
    </tr>
    <script>
      function myFunction(element, color) {
        element.style.color = color;
        var index = element.id;
        console.log("You just pushed the: "+element.id+" button");
        element.id = "Done "+index;
      }
      </script>
      <%  if(locals.Tasks){%>
        <%var index=0; %>
        <% locals.Tasks.forEach(task =>{ %>
        <tr onclick="myFunction(this, 'red')" id= <%= index %> >
        
        <% if(!task.isDone){%>
          <td type="button"  class="redButton">Not Done!</button></td>
          <td><%= task.newTask %></td>
          <td><%= task.dueDate %></td>
        <% } %>
        <% index++; %>
        </tr>
        <%});
      }%>
    </tr>
  </table>


    

  <%- include("partials/footer.ejs") %>